body {
  background: rgb(43, 32, 111);
  background: radial-gradient(
    circle,
    rgba(43, 32, 111, 1) 0%,
    rgba(0, 0, 0, 1) 100%
  );
  height: 100vh;
}

.form-control.transparent,
.form-control.transparent:focus {
  background-color: transparent !important;
  color: white !important;
}

.form-control.transparent:focus + label {
  color: white !important;
  background-color: transparent !important;
}

label {
  font-size: 15px;
  color: white !important;
  opacity: 0.5;
  margin-bottom: 15px !important;
}

label::after {
  background-color: transparent !important;
}

.custom-container {
  height: 100vh;
  display: flex;
  align-items: center;
}
